<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kasasasu" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.access_network_state"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kasasasu_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AreaActivity"
            android:label="AreaActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CityActivity"
            android:label="CityActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".PrefActivity"
            android:label="PrefActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".AreaActivity2"
            android:label="@string/title_activity_area"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".PrefActivity2"
            android:label="@string/title_activity_pref"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CityActivity2"
            android:label="@string/title_activity_city"
            android:screenOrientation="landscape">
        </activity>

        <receiver android:name=".Reciver" />
        <service android:name=".SensorService" />

        <Fragment
            android:name=".FragmentMain"
            android:label="FragmentMain" >
        </Fragment>


    </application>

</manifest>
